.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}

.wrapper {
  width: 150px;
  height: 150px;
  border: 2px solid red;
}

.error {
  background-color: red;
  border-color: plum;
}

.modal {
  display: none;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background-color: peachpuff;
  color: palegreen;
  border: 3px solid red;
}

.modalBlok {
  display: block;
}

.close {
  width: 30px;
  height: 30px;
  background-color: white;
  color: green;
}

.notification {
  top: 10px;
  right: 10px;
  color: yellow;
  background-color: darkred;
  border: 2px solid darkred;
}

.hidden {
  display: none;
}

.todo__list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.todo__item {
  padding: 3px;
  max-width: 100px;
  color: deeppink;
  border: 2px solid purple;
}

.todo__item.isActive {
  color: crimson;
  border-color: black;
  background-color: aquamarine;
}